# Declare files that will always have LF line endings on checkout.
CONTROL/** text eol=lf
etc/** text eol=lf
opt/etc/** eol=lf
*.md text eol=lf
*.ini text eol=lf

# Denote all files that are truly binary and should not be modified.
opt/sbin/** binary
